body{
    font-family: verdana;
    font-size: 2em;
    background-color: antiquewhite;
}

#mySubmit {
    color: white;
    background-color: blue;
    border-radius: 7px;
    font-size: 1em;
    margin-top: 1em;

}

#subResult{
    color: red;
}